<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="Key1" value="https://geocode-maps.yandex.ru/1.x/?geocode="/>
      <add key="Key2" value="&amp;kind=locality&amp;results=1"/>
    </appSettings>
</configuration>